# Virtual Environment
venv/

# Environment Variables
.env
.env*.local

# Python Cache
__pycache__/

# Temporary Files
temp/

# Extra Files
extras/

# Node Modules
node_modules/

# Typescript
next-env.d.ts

# NextJS
.next/
build/

# vscode
.vscode/
