@import url("https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css");

.splide {
	overflow-y: hidden;
}

.splide__pagination {
	display: none;
}

.splide .splide__arrow svg {
	fill: none;
	height: 20em;
	width: 20em;
	color: #fff;
}
.splide .splide__arrow {
	background: none;
	margin-left: 1rem;
	top: 92%;
}
